body {
    background: rgb(255, 249, 242);
}

.container {
    background: white;
}

.btn {
    margin-right: 10px;
}

#bulb-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid black;
}

.bulb-false {
    background: black !important;
}